
$primary: darken(#428bca, 20%);

@import '~bootstrap/scss/bootstrap';

body {
    background-color: lightgray;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

a:hover {
    color: black;
    text-decoration: none;
    background-color: #f0efeb;
}

/* homepage */
.product-card {
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.picture-card {
    width: 100%;
    object-fit: contain;
    height: 200px;
    margin: auto;
}

.filter-form {
    border-radius: 6px;
    width: 100%;
    height: fit-content;
    margin: 0 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        padding: 0;
    }
}

/* product detail */
.product-detail {
    width: 100%;
    object-fit: contain;
    height: 230px;
    margin: auto;
}

@media (min-width: 768px) {
    .filter-form {
        width: 100%;
        margin: 8px;
        form {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            padding: 0;
            width: 100%;
            .form-group {
                width: 100%;
                margin: 0;
                flex-direction: row;
                #category {
                    width: fit-content;
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    justify-content: space-between;
                    .form-check {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1600px) {

    .filter-form {
        width: fit-content;
        position: fixed;
        left: 3px;
        z-index: 1;
        top: 190px;
        form {
            flex-direction: column;
            justify-content: center;
            .form-group {
                #category {
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}
